/* ------------------------------------ START OF PRELOADER -----------------------------------------*/
#preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
    overflow: hidden;
    background: #393E46;
}

#preloader:before {
    content: "";
    position: fixed;
    top: calc(50% - 30px);
    left: calc(50% - 30px);
    border: 6px solid #393E46;
    border-top: 6px solid #56829e ;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    -webkit-animation: animate-preloader 1s linear infinite;
    animation: animate-preloader 1s linear infinite;
}

@-webkit-keyframes animate-preloader {
    0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
}

100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
}
}

@keyframes animate-preloader {
    0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
}

100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
}
}
/* ------------------------------------ END OF PRELOADER -----------------------------------------*/



/* FORM STYLES */
form#contactForm {
    background-color: rgb(208, 207, 207);
    padding: 24px;
    border-radius: 2%;
    margin: auto;
    margin-top: 24px;
}

input#contactName {
    margin-right: 6px;
}

#contactMessage {
    height: 100%;
}

.status {
    margin-top: 12px;
    text-align: center;
    font-size: 24px;
}

#message {
    height: 100px;
}

/* END FORM STYLES */

/* TABLE STYLES */

#contactTable {
    margin-left: 30px;
    margin-right: 30px;
}

/* END TABLE STYLES */

/* NAV STYLES */
#navContainer {
    justify-content: flex-end;
}

#loginName {
    color: white;
    margin-right: 12px;
}

/* GET COUNTRY INFO CONTAINER */
.getCountrycontainer {
    margin-top: 16px;
    margin-bottom: 16px;
}

#getCountryInfo {
    margin-left: 24px;
    margin-right: 24px;
}

#countrySelect {
    width: 500px;
    margin: auto;
}